<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://hitachipms.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>hitachipms.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HitachiPMS</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$HitachiPMS</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="HitachiPMS" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:hitachipms.database.windows.net,1433;Initial Catalog=MyPMSDB;User ID=ngbhat@hitachipms.database.windows.net;Password=hitachi@123" Name="Data Source=tcp:hitachipms.database.windows.net,1433;Initial Catalog=MyPMSDB;User Id=ngbhat@hitachipms.database.windows.net;Password=hitachi@123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="HProject.Data.ProjectManagementContext, HomeCinema.Data" MigrationConfiguration="HProject.Data.Migrations.Configuration, HomeCinema.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HitachiPMS-Web.config Connection String">
      <ParameterValue>Data Source=tcp:hitachipms.database.windows.net,1433;Initial Catalog=MyPMSDB;User Id=ngbhat@hitachipms.database.windows.net;Password=hitachi@123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>